@using EducationPortal.Presentation.Extensions
@model IReadOnlyList<EducationPortal.Presentation.ViewModels.Courses.CourseListItemViewModel>
@{
    ViewData["Title"] = "Courses";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Courses</h2>

    @if (User.IsAuthenticated())
    {
        <a href="#"
           class="btn btn-primary"
           data-modal-url="@Url.Action("Create", "Courses")"
           data-modal-title="New course">New course</a>
    }
</div>

<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>Name</th>
            <th class="text-end @(User.IsAuthenticated() ? "w-340" : "w-120")">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var courseItem in Model)
        {
            <tr>
                <td>@courseItem.Name</td>
                <td class="text-end">
                    @if (User.IsAuthenticated() && courseItem.CanStart)
                    {
                        <form asp-action="Enroll"
                              asp-route-id="@courseItem.Id"
                              method="post"
                              class="d-inline"
                              asp-antiforgery="true">
                            <button type="submit" class="btn btn-sm btn-warning me-2">Start course</button>
                        </form>
                    }

                    <a class="btn btn-sm btn-outline-primary me-2"
                       asp-action="Details" asp-route-id="@courseItem.Id">Details</a>

                    @if (User.IsAuthenticated())
                    {
                        <a href="#" class="btn btn-sm btn-outline-success me-2"
                           data-modal-url='@Url.Action("Edit", "Courses", new { id = courseItem.Id })'
                           data-modal-title="Edit course">Edit</a>

                        <form asp-action="Delete"
                              asp-route-id="@courseItem.Id"
                              method="post"
                              class="d-inline"
                              asp-antiforgery="true"
                              onsubmit="return confirm('Delete this course?');">
                            <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>